/****************************************
* Site wide
****************************************/

/* Box Model*/
* {
  box-sizing: border-box;
}


/* Clear fix*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

:root {
  --primary: rgb(209, 241, 177);
  --secondary: rgb(88, 140, 30);
  --background:rgb(255, 255, 255);
  --secondary-background: rgb(245, 245, 246);
  --dark-background: rgb(0, 0, 0);
  --font: rgb(0, 0, 0);
  --light-font: rgb(255, 255, 255);
}

body {
  font-size: 16px;
  min-width: 20rem;
}

a,
a[href],
a:visited, 
a[href]:visited {
  color: var(--secondary);
}

.mainHeader, .mainFooter {
  background-color: var(--primary);
}

section:nth-child(even){
  background-color: var(--background);
}

/****************************************
* Components
****************************************/

/*main navbar - based on https://alvarotrigo.com/blog/hamburger-menu-css/ */
.mainNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--font);
  height: 50px;
  padding: 1em;
}

.mainNav a[data-current="current item"] {
  color: var(--font);
}

.navItems {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItems>li {
  margin: 0 1rem;
}

.menuButtonContainer {
  display: none;
}

#menuToggle {
  display: none;
}



@media only screen and (max-width: 700px) {
  /****************************************
  * Components
  ****************************************/

  /*main navbar - based on https://alvarotrigo.com/blog/hamburger-menu-css/ */
  .menuButtonContainer {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navItems {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
  }
  
  .menuButton,
  .menuButton::before,
  .menuButton::after {
    display: block;
    background-color: var(--font);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menuButton::before {
    content: '';
    margin-top: -8px;
  }

  .menuButton::after {
    content: '';
    margin-top: 8px;
  }

  #menuToggle:checked+.menuButtonContainer .menuButton::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menuToggle:checked+.menuButtonContainer .menuButton::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  #menuToggle~.navItems li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
  }
  
  #menuToggle:checked~.navItems li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .navItems>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--font);
  }
  


}