<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			{% include "components/mainNav.njk" %}
			<div>
				<h1>We're looking for experts, learners, and problem solvers to join our project teams</h1>
			</div>
		</header>

		<main>
			<section>
				{{ layoutContent | safe }}
			</section>
		</main>
		
		{% include "components/mainFooter.njk" %}

	</body>

</html>