<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		{% include "components/pageHeader.njk" %}

		<main>
			{{ layoutContent | safe }}
			{% if hasCollection and collectionName %}
				{% include "components/collectionList.njk" %}
			{% endif %}
		</main>
		
		{% include "components/pageFooter.njk" %}

	</body>

</html>